{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
    <h1>Hello HelloController!</h1>
    <ul>
        <li><a href="{{ path('app_hello_manytimes', {name: 'joe', times: 5}) }}">Joe</a></li>
        <li><a href="{{ url('app_hello_manytimes', {name: 'bob', times: 8}) }}">Bob</a></li>
    </ul>
{% endblock %}
